#header {
	background-color: #202020;
}

#header h1, h3 {
	color: white;
}

#exit-portal {
	color: #FDA103;
}

#log-out {
	color: #FDA103;
}

#menu {
	background-color: #323232;
}

#invite-members{
	color: black;
	font-size: 15pt;
	padding-bottom: 10px;
	padding-top: 5px;
}

.menu-dropdown {
	color: #FDA103;
	background-color: #323232;
    border-color: #323232;
}

.menu-dropdown:hover {
	color: #FDA103;
	background-color: #323232;
    border-color: #323232;
}

.menu-dropdown:active {
	color: #FDA103;
	background-color: #323232;
    border-color: #323232;
}

h4 {
	text-decoration: underline;
}

.menu-dropdown:focus {
	color: #FDA103;
	background-color: #323232;
    border-color: #323232;
}

#header-link a:link{
	color: #FDA103;
}

#header-link a:visited{
	color: #FDA103;
}

#header-link a:hover{
	color: #FDA103;
}

#team-name {
	resize: none;
}

#submit-button-href, #cancel-button-href {
	color: inherit;
}