* {
	border: black solid 1px;
}

/*******************
 * The nested List *
 *******************/
nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.Outer  {
	list-style-type: none;
	padding: 10px;
	margin: 0;
	display: flex;
	flex-direciton: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.Nested {
	list-style-type: none;
	padding: 10px;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	height: 100%;
}


